table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
}

th {
  display: table-cell;
  vertical-align: inherit;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

#blogCreate {
  margin-top: 90px;
  margin-right: 100px;
}

.createForm {
  margin-top: 100px;
  margin-right: 10px;
  justify-content: center;
}

#blog {
  margin: 90px 150px 0 150px;
}

.blogContainer {
  min-height: 100vh;
}

.blogSearch {
  display: flex;
  justify-content: end;
  margin-right: 40px;
}

.blogPage {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

.floatingBtn {
  position: fixed;
  bottom: 30px;
  right: 35px;
  z-index: 5;
}

.thumbnailLoad {
  display: flex;
  align-items: center;
}

@media (max-width: 1360px) {
  #blog {
    margin-right: 50px;
    margin-left: 50px;
  }

  .blogContainer {
    min-height: 100vh;
  }
}

@media (max-width: 900px) {
  #blog {
    margin: 90px 0 0 0;
  }

  .blogContainer {
    min-height: 100vh;
  }

  #blogCreate {
    margin: 15px;
  }
}
