/* 전체 블로그 내용을 감싸는 부분 */
#blogDetails {
  min-height: 100%;
  margin-top: 60px;
}

* {
  box-sizing: inherit;
  font-family: inherit;
}

div,
section {
  display: block;
}

li {
  padding: 0;
}
li,
p {
  margin: 0;
}

b {
  font-weight: 800;
}

h1,
h2,
h3,
h4,
ul,
p {
  line-height: 2;
}

h1,
h2,
h3,
h4 {
  font-weight: 800;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  appearance: auto;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  box-sizing: border-box;
  margin: 0;
}

pre {
  color: white;
  background-color: #333;
  border: none;
}

/* 블로그 내용을 감싸는 wrapper의 스타일 */
.blogDeatilsWrapper {
  max-width: 1000px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px 40px;
  background-color: #181818;
  color: #fff;
}

/* 블로그 내용의 헤더 스타일 */
.blogDetailsHeader {
  margin-top: 30px;
  position: relative;
  margin-bottom: 10px;
  font-size: 16px;
  display: flex;
  flex-flow: column wrap;
}

/* 블로그 내용의 헤더 타이틀 스타일 */
.blogDetailsTitle {
  font-size: 36px;
  line-height: 1.5;
  margin-top: 0px;
  font-weight: 600;
  margin-bottom: 24px;
  word-break: keep-all;
}

/* 블로그 내용의 헤더 날짜와 조회수 스타일 */
.blogDetailsDateAndViews {
  display: flex;
  text-align: right;
  float: right;
}

/* 블로그 내용의 헤더 날짜 스타일 */
.blogDetailsGenerateDate {
  padding: 0 10px;
  /* border-right: 1px #ccc solid; */
  font-weight: 700;
}

/* 블로그 내용의 헤더 조회수 스타일 */
.blogDetailsViews {
  font-weight: 700;
}

/* 블로그 내용의 설명 스타일 */
.blogDetailsDescription {
  font-size: 16px;
  margin: 25px 0;
  word-break: keep-all;
}

/* 블로그 내용의 댓글 article 스타일 */
.blogDetailsCommmentsArticle {
  display: block;
  color: white;
}

/* 블로그 내용의 수정 및 삭제 버튼 스타일 */
.blogDetailsBlogEditBtn {
  color: green;
  margin-right: 10px;
  border-color: green;
  display: flex;
  align-items: center;
}

.blogDetailsBlogDeleteBtn {
  color: red;
  border-color: red;
  display: flex;
  align-items: center;
}

/* 블로그 내용의 버튼 wrapper 스타일 */
.blogDetailsBtnWrapper {
  display: flex;
  justify-content: end;
  margin: 16px 0 24px;
}

/* 블로그 내용의 목록으로 가기 버튼 스타일 */
.blogDetailsBackBtn {
  padding: 12px 24px;
  height: 40px;
  background: #333;
  border-radius: 50px;
  font-weight: 700;
  color: #fff;
  font-size: 16px;
  line-height: 1;
}

/* 블로그 내용의 이미지 스타일 */
.blogDetailsDescription img {
  width: 100% !important;
  height: auto !important;
  overflow: hidden;
  white-space: pre-wrap;
}

/* 모바일 환경을 위한 미디어 쿼리 */
@media (max-width: 900px) {
  .blogDetailsDescription img {
    width: 100%;
    height: auto;
  }

  #blogDetails {
    width: 100%;
    overflow: hidden;
  }

  .blogDeatilsWrapper {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .blogDetailsDescription,
  .blogDetailsCommmentsArticle {
    margin: 15px;
    word-break: keep-all;
  }

  .blogDetailsTitle,
  .blogDetailsDateAndViews {
    margin-left: 15px;
  }

  .blogDetailsBtnWrapper {
    margin-right: 15px;
  }
}
