table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
}

th {
  display: table-cell;
  vertical-align: inherit;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

#blogCreate {
  margin-top: 90px;
}

#blog {
  margin-top: 90px;
}

.blogContainer {
  height: 100vh;
}

.blogSearch {
  display: flex;
  justify-content: end;
  margin-right: 40px;
}

.blogPage {
  text-align: center;
}

.floatingBtn {
  position: fixed;
  bottom: 30px;
  right: 35px;
  z-index: 5;
}
