#blogDetails {
  min-height: 100%;
  margin-top: 60px;
}

* {
  box-sizing: inherit;
  font-family: inherit;
}

div {
  display: block;
}

section {
  display: block;
}

#blogDetails ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  padding: 0;
}
li,
p {
  margin: 0;
}

b {
  font-weight: 800;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  appearance: auto;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  box-sizing: border-box;
  margin: 0em;
}

.blogDeatilsWrapper {
  max-width: 1000px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px 40px;
  background-color: #fff;
}

.blogDetailsHeader {
  margin-top: 30px;
  position: relative;
  margin-bottom: 0.5em;
  font-size: 16px;
}

.blogDetailsDateAndViews {
  display: flex;
  text-align: right;
  float: right;
}
.blogDetailsGenerateDate {
  padding: 0 0.5em;
  border-right: 1px #ccc solid;
  font-weight: 700;
}
.blogDetailsViews {
  font-weight: 700;
}

.blogDetailsHeader {
  display: flex;
  flex-flow: column wrap;
}

.blogDetailsTitle {
  font-size: 3rem;
  line-height: 1.5;
  letter-spacing: -0.004em;
  margin-top: 0px;
  font-weight: 600;
  color: var(--text1);
  margin-bottom: 2rem;
  word-break: keep-all;
  transition: color 0.125s ease-in 0s;
}

.blogDetailsDescription {
  font-size: 1em;
  margin: 25px 0;
}

.blogDetailsDescription p,
.blogDetailsDescription span {
  line-height: 2;
}

.blogDetailsBtnWrapper {
  display: flex;
  margin-top: 10px;
  justify-content: end;
}

.blogDetailsCommmentsArticle {
  display: block;
  color: black;
}

.blogDetailsBlogEditBtn {
  color: green;
  margin-right: 10px;
  border-color: green;
  display: flex;
  align-items: center;
}

.blogDetailsBlogDeleteBtn {
  color: red;
  border-color: red;
  display: flex;
  align-items: center;
}

.blogDetailsBtnWrapper {
  display: flex;
  justify-content: end;
  margin: 16px 0 24px;
}

.blogDetailsBtn {
  padding: 12px 24px;
  height: 40px;
  background: #333;
  border-radius: 50px;
  font-weight: 700;
  color: #fff;
  font-size: 16px;
}

.blogDetailsDescription img {
  width: 100% !important;
  height: auto !important;
  overflow: hidden;
  white-space: pre-wrap;
}

@media (max-width: 768px) {
  .blogDetailsDescription img {
    width: 100%;
    height: auto;
    overflow: hidden;
    white-space: pre-wrap;
  }

  pre {
    width: 100%;
    overflow: hidden;
    white-space: pre-wrap;
  }

  #blogDetails {
    width: 100%;
    overflow: hidden;
    white-space: pre-wrap;
  }

  .blogDeatilsWrapper {
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: pre-wrap;
  }

  .blogDetailsDescription {
    margin: 15px;
    overflow: hidden;
    white-space: pre-wrap;
  }

  .blogDetailsTitle,
  .blogDetailsDateAndViews {
    margin-left: 15px;
  }

  .blogDetailsBtnWrapper {
    margin-right: 15px;
  }
}
