table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
}

th {
  display: table-cell;
  vertical-align: inherit;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

#Blog {
  margin-top: 90px;
}

.Blog__Container {
  height: 100vh;
}

.Blog__Search {
  display: flex;
  justify-content: end;
  margin-right: 40px;
}

.Blog__Wrapper {
  margin: 20px 40px 0 40px;
}

.Blog__Page {
  text-align: center;
}

.BlogTable {
  width: 100%;
  border-width: 2px 0 0 0;
  border-color: #241055;
  border-style: solid;
  table-layout: fixed;
}

.BlogTable thead th {
  background: #f5f3fc;
  border: 1px solid #dedede;
  border-bottom: 1px solid #241055;
  font-weight: bold;
  font-size: 20px;
}

.BlogTable th {
  text-align: center;
}

.BlogTable th,
.BlogTable td {
  border-width: 0 1px 1px 1px;
  border-color: #dedede;
  border-style: solid;
  padding: 7px 0;
  text-align: center;
}

.Floating__Btn {
  position: fixed;
  bottom: 30px;
  right: 35px;
  z-index: 5;
}

.Col__Id {
  width: 90px;
}

.Col__Title {
  width: auto;
}

.Col__Date {
  width: 200px;
}

.Col__View {
  width: 90px;
}
