#resume {
  color: white;
  margin: 100px auto;
  max-width: 1000px;
}

.myInfo dl {
  display: flex;
  align-items: center;
  margin-bottom: 1px;
}

.myInfo dl dd {
  margin-bottom: 0;
  margin-left: 10px;
}

.myInfo dl dd a {
  color: white;
}

.infoImg {
  width: 250px;
}

.resumeIntro {
  display: flex;
  gap: 60px;
}

.indentedText {
  margin-left: 1em;
}

.introBlock {
  margin-top: 20px;
}

.myIntro h1 {
  margin: 0;
  line-height: 1.2;
}

hr {
  border: 1px solid white;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.timestamp {
  color: #ccc;
  font-size: 18px;
}

.projectList h4 {
  color: #ccc;
}

.projectList p {
  color: #ccc;
  opacity: 0.5;
}

a {
  color: #ccc;
}

@media (max-width: 1360px) and (min-width: 901px) {
  #resume {
    padding-left: 60px;
    padding-right: 60px;
    font-size: 16px;
  }

  .infoImg {
    width: 150px;
  }
}

@media (max-width: 900px) {
  #resume {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
  }

  .myInfo dl {
    font-size: 12px;
  }

  .myIntro h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
  }

  .infoImg {
    width: 125px;
  }
}
