a:hover {
  color: #3a59f4;
}
a:focus {
  color: white;
}

#Header {
  background-color: black;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

.H__Menu_Nav li {
  display: inline;
}

.H__Menu__Inner {
  display: flex;
  align-items: center;
  min-height: 40px;
  justify-content: space-between;
}

.H__Menu {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
}

.H__Link {
  text-transform: uppercase;
  font-size: 20px;
  padding: 14px;
  font-weight: 600;
  position: relative;
  color: white;
}
