a:hover {
  color: #3a59f4;
  text-decoration: none;
}
#header a:focus {
  text-decoration: none;
}

.styleHeader {
  background-color: black;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  height: 60px;
}

.mainHeader {
  background-color: transparent;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  height: 60px;
}

.headerMenuNav {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px 0 20px;
}

.headerMenuNav li {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.headerMenuInner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  margin-right: 150px;
}

.headerMenu {
  font-size: 20px;
  height: 100%;
}

.headerLogo {
  margin-left: 150px;
  padding: 20px;
  color: white;
  display: flex;
  width: 400px;
  height: 100%;
  align-items: center;
  font-size: 20px;
}

.closeIcon,
.menuIcon {
  padding: 20px;
}

.headerLink {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  color: white;
  height: 100%;
  padding: 0 15px;
  border-radius: 10px 10px 0 0;
}

.selected {
  background-color: white;
  color: black;
}

.headerMobileMenu {
  display: none;
}

@media (max-width: 1360px) and (min-width: 904px) {
  .headerLogo {
    padding: 0;
    margin-left: 50px;
  }

  .headerMenuInner {
    margin-right: 50px;
  }
}

/* 모바일 화면을 위한 미디어 쿼리 */
@media (max-width: 1360px) {
  #header {
    background-color: black;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    height: 60px;
  }

  .headerLogo {
    margin: 0;
    padding: 0;
  }

  .headerLink {
    padding: 0;
  }

  .headerMenuInner {
    display: none;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
  }

  .headerMenuInnerOpen {
    display: block;
    position: fixed;
    width: 100%;
    height: auto;
    background-color: black;
    z-index: 9;
    top: 60px;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    transition: height 0.5s ease-in-out;
  }
  .headerMenuInnerOpen .headerMenu {
    width: 100%;
    height: 50px;
    margin: 10px 0 10px 0;
    transition: height 0.5s ease-in-out;
  }

  .headerMenuInnerOpen .headerLink {
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding-left: 20px;
  }

  .headerMobileMenu {
    color: white;
    display: block;
    font-size: 20px;
    position: fixed;
    right: 10px;
  }

  .mainHeader {
    background-color: transparent !important;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    height: 60px;
  }
}
