#calendar {
  margin-top: 80px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 0 20px 0 20px;
}

.calendarWrapper {
  display: flex;
}

.calendarContainer {
  width: 50%;
}

.contentsContainer {
  width: 50%;
  margin-left: 10px;
}

.contentsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contentsEventsList {
  display: flex;
  margin-top: 5px;
  align-items: center;
}

.contentsAddText {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.calendarEditBtn {
  color: green;
  margin-right: 10px;
  border-color: green;
}

.calendarDelBtn {
  color: red;
  border-color: red;
}

@media (max-width: 768px) {
  #calendar {
    margin: 80px 20px;
  }

  .calendarWrapper {
    display: flex;
    flex-flow: column;
  }

  .calendarContainer,
  .contentsContainer {
    width: 100%;
  }

  .contentsContainer {
    min-height: 100px;
  }
}
