#calendar {
  margin-top: 80px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 0 20px 0 20px;
}

.calendarWrapper {
  display: flex;
  height: 100dvh;
}

.calendarContainer {
  width: 40%;
}

.antdCalendar {
  height: 50%;
}

.calendarEventsContainer {
  height: 50%;
}

.calendarUpcomingEventContainer {
  width: 60%;
  margin-left: 10px;
}

.calendarDateEventsList {
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
  flex-direction: column;
}

.calendarDateEventsHeader {
  display: flex;
  align-items: center;
}

.calendarDateEventsDescription {
  margin-left: 25px;
  margin-top: 5px;
  color: rgb(120, 120, 120);
  word-break: break-all;
}

.calendarEditBtn {
  color: green;
  margin-right: 10px;
  border-color: green;
}

.calendarDelBtn {
  color: red;
  border-color: red;
}

.calendarEditBtn,
.calendarDelBtn {
  border: none;
  box-shadow: none;
}

.calendarEditBtn,
.calendarDelBtn:focus {
  outline: none !important;
}

.calendarEventDot {
  background-color: black;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  display: inline-block;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.calendarSelectedDate {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1360px) {
  #calendar {
    margin-right: 50px;
    margin-left: 50px;
  }
}

@media (max-width: 944px) {
  #calendar {
    margin: 80px 20px;
  }

  .calendarWrapper {
    display: flex;
    flex-flow: column;
  }

  .calendarContainer,
  .contentsContainer {
    width: 100%;
  }

  .contentsContainer {
    min-height: 100px;
    margin-left: 0;
  }

  .contentsAddText {
    margin-top: 10px;
  }
}
