#calendar {
  margin-top: 80px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 0 20px 0 20px;
}

.calendarWrapper {
  display: flex;
}

.calendarContainer {
  width: 50%;
}

.contentsContainer {
  width: 50%;
  margin-left: 10px;
}

.contentsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendarEditBtn {
  color: green;
  margin-right: 10px;
  border-color: green;
}

.calendarDelBtn {
  color: red;
  border-color: red;
}
