#projects {
  margin-top: 60px;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #ffffff;
  line-height: 1.6;
}

.descriptionText p {
  margin-bottom: 1rem;
}

.projectDescription {
  margin-bottom: 30px;
}

.descriptionTitle {
  padding-bottom: 0.5rem;
  font-family: Black Han Sans, sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  color: #222;
  text-align: center;
}

.descriptionDate {
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: 1rem;
  color: #6c757d;
  text-align: center;
  opacity: 0.8;
}

.descriptionImgSection {
  overflow: hidden;
  position: relative;
  width: 50%;
  margin-right: 3rem;
}

.descriptionTextSection {
  width: calc(50% - 3rem);
}

.descriptionText {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 1rem;
}

.descriptionModal {
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.descriptionContents {
  display: flex;
  display: -ms-flexbox;
  flex-flow: row wrap;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.projectsTitle {
  display: flex;
  padding-top: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #2a3042;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
}

.projectsContents {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.projectDescription {
  border: 1px solid red;
  padding: 20px;
  width: 1000px;
}

.projectInfo {
  display: flex;
}

.infoTitle {
  display: inline-block;
  vertical-align: top;
  width: 8.4rem;
  font-weight: 900;
  font-size: 1rem;
}

.infoText {
  display: inline-block;
  vertical-align: bottom;
  width: calc(100% - 8.4rem);
  font-weight: 400;
  font-size: 1rem;
}

.readMeTitle {
  font-size: 30px;
}

.nextArrow,
.prevArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 24px;
  color: black;
  padding: 0;
  border-radius: 50%;
  z-index: 1;
}

.nextArrow {
  right: 10px;
}

.prevArrow {
  left: 10px;
}

@media (max-width: 1030px) {
  #projects,
  .projectsContents,
  .descriptionImgSection,
  .projectsWrapper,
  .descriptionTextSection,
  .projectsContainer {
    width: 100%;
  }

  .projectDescription {
    width: 80%;
  }

  #projects {
    padding: 0;
  }

  .descriptionImgSection {
    margin: 0;
    margin-bottom: 30px;
    overflow: visible;
  }

  .descriptionContents {
    display: flex;
    flex-flow: column;
  }
}
