#projects {
  margin-top: 60px;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #ffffff;
  line-height: 1.6;
}

.descriptionText p {
  margin-bottom: 10px;
}

.projectDescription {
  margin-bottom: 30px;
}

.descriptionTitle {
  padding-bottom: 10px;
  font-family: Black Han Sans, sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #222;
  text-align: center;
  word-break: keep-all;
}

.descriptionDate {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  color: #6c757d;
  text-align: center;
  opacity: 0.8;
}

.descriptionImgSection {
  overflow: hidden;
  position: relative;
  width: 50%;
  margin-right: 30px;
}

.descriptionTextSection {
  width: calc(50% - 30px);
}

.descriptionText {
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  word-break: keep-all;
}

.descriptionModal {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.descriptionContents {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.projectsTitle {
  display: flex;
  padding-top: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #2a3042;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
}

.projectsContents {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.projectDescription {
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
  width: 1000px;
}

.projectInfo {
  display: flex;
}

.infoTitle {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  font-weight: 900;
  font-size: 16px;
}

.infoText {
  display: inline-block;
  vertical-align: bottom;
  width: calc(100% - 200px);
  font-weight: 400;
  font-size: 16px;
}

.readMeTitle {
  font-size: 30px;
}

.nextArrow,
.prevArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 24px;
  color: black;
  padding: 0;
  border-radius: 50%;
  z-index: 1;
}

.nextArrow {
  right: 10px;
}

.prevArrow {
  left: 10px;
}

@media (max-width: 1030px) {
  #projects,
  .projectsContents,
  .descriptionImgSection,
  .projectsWrapper,
  .descriptionTextSection,
  .projectsContainer {
    width: 100%;
  }

  .projectDescription {
    width: 80%;
  }

  #projects {
    padding: 0;
  }

  .descriptionImgSection {
    margin: 0;
    margin-bottom: 30px;
    overflow: visible;
  }

  .descriptionContents {
    display: flex;
    flex-flow: column;
    word-break: break-all;
  }

  .infoTitle {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    font-weight: 900;
    font-size: 16px;
  }

  .infoText {
    display: inline-block;
    vertical-align: bottom;
    width: calc(100% - 50px);
    font-weight: 400;
    font-size: 16px;
  }
}
