/* 공통 스타일 */
#aboutMe {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #ffffff;
  line-height: 1.6;
  margin-top: 60px;
}

/* 섹션 타이틀 */
.titleText {
  display: flex;
  padding-top: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #2a3042;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
}

/* 개인 정보 스타일 */
.info {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  margin: 10px;
  display: flex;
  align-items: center;
}

.infoIcon {
  color: #2a3042;
  font-size: 50px;
  margin-right: 15px;
}

.infoLabel {
  font-weight: bold;
}

.infoValue {
  color: #555;
}

/* 기술 스택 섹션 */
.skillsContents {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #cacaca;
  transition: transform 0.3s ease;
}

.skillsTitle {
  font-size: 2rem;
  border-bottom: 1px solid #cacaca;
}

.skillsImgWrraper {
  max-width: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 세로 2열 */
  grid-template-rows: repeat(2, auto); /* 가로 2행 */
  justify-content: center;
  align-items: center;
}

.skillsImg {
  max-width: 100%;
  max-height: 100%;
  margin: 10px;
  height: auto;
  object-fit: contain;
}

.skillsContents:hover,
.archiveContents:hover {
  transform: translateY(-10px);
}

/* 아카이브 섹션 */
.archiveContents {
  transition: transform 0.3s ease;
  justify-content: center;
}

.archiveContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #cacaca;
  text-decoration: none;
  color: #333;
}

.archiveImg {
  width: 80%;
}

.archiveDescription {
  color: black;
}

.archiveDescription b {
  font-weight: bold;
}

/* 데스크탑 화면을 위한 미디어 쿼리 */
@media (min-width: 769px) and (max-width: 1120px) {
  .skillsContainer,
  .archiveContainer,
  .infoContainer {
    max-width: 80%;
    margin: auto;
    padding: 20px;
    display: grid;
    gap: 20px;
  }

  .skillsContainer,
  .infoContainer {
    grid-template-columns: repeat(2, 1fr); /* 세로 2열 */
    grid-template-rows: repeat(3, auto); /* 가로 3행 */
  }
}

@media (min-width: 1121px) {
  #aboutMe {
    padding: 20px;
  }

  .infoContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 세로 3열 */
    grid-template-rows: repeat(2, auto); /* 가로 2행 */
    gap: 20px; /* 그리드 아이템 간의 간격 */
  }

  .infoWrapper {
    height: 140px;
  }

  .info {
    height: 120px;
  }

  .aboutMeSection,
  .skillsSection,
  .archiveSection {
    max-width: 100%; /* 최대 너비 설정 */
    margin: auto; /* 중앙 정렬 */
    padding: 20px;
  }

  .infoWrapper,
  .skillsContents,
  .archiveContainer {
    max-width: 400px; /* 각 요소의 최대 너비 설정 */
    min-width: 350px;
    margin: 20px auto; /* 상하 여백 및 중앙 정렬 */
  }

  .skillsImg,
  .archiveImg {
    max-width: 100%; /* 이미지 너비 설정 */
    width: 150px;
  }

  .skillsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 세로 3열 */
    grid-template-rows: repeat(2, auto); /* 가로 2행 */
    gap: 20px; /* 그리드 아이템 간의 간격 */
  }

  .skillsImg {
    max-width: 100%; /* 이미지 너비 설정 */
  }
}
