.admin {
  margin: 100px 20px;
  min-height: 100vh;
}

.adminTitle {
  margin-bottom: 20px;
}

.S9gUrf-YoZ4jf,
.S9gUrf-YoZ4jf * {
  width: 300px !important;
}

.nsm7Bb-HzV7m-LgbsSe {
  width: auto !important;
}
